@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h3>Brief History</h3>

<p>The SLICK Ice Foundation was established in early 2017, when a group of winter sports
	activists came together. What started as a series of emails, tweets, and Instagram
	messages grew into a fully-featured application for skiers and snowboarders, thanks
	to Hanna Development Studios. Users can now manage and share their own gear with this
	application. With the power of Bootstrap, it is even mobile-friendly, for easy access
	on the go.</p>

<p>The philosophy behind the SLICK Ice Gear Manager is giving users a crisp, easy tool
	for organizing their winter sports gear items (such as snowboards, skis, winter
	apparel, tools, and other popular items). This app was also built with the intent of
	allowing users to share their items, although these features have not been fully
	implemented yet.</p>

<h3>Using the App</h3>

<p>This online web application allows users to virtually add their gear to a list of items.
	They may look at an item's details, alter an item, and remove an item. A search bar allows
	for filtering, sorting, and searching when the list gets unbearably large for one page.</p>

<h3>Get Started</h3>

<p>We, the SLICK Ice Foundation, hope you will enjoy this application when you go shredding
	some powder this winter. Enjoy!</p>

@Html.ActionLink("Start Managing My Gear Now", "Index", "WinterGear")