@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the SLICK Ice Winter Gear Manager</h2>
<div class="row">
    <div class="col-md-12">
		<p>Start managing your gear now!</p>
		<input type="button" value="Your Items >>" onclick="location.href='@Url.Action("Index", "WinterGear")'" class="btn btn-link" />
	</div>
</div>
